/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

li {
	text-decoration: none;
	list-style: none;
}

img {
	height: 160px;
	width: 160px;

}
