/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

//Fonts 

$roboto: 'Roboto', sans-serif;


li {
	text-decoration: none;
	list-style: none;
}

img {
	height: 200px;
	width: 245px;

}

.search-page{

	display: flex;
	flex-direction: column;
	align-items: center;

}


.search-bar{

	margin-bottom: 15px;

}